<div class="my-10 px-4 mx-auto max-w-6xl flex flex-col-reverse md:flex-row gap-4">
  <!-- 田字格练习纸 -->
  <%# A4: 210 x 297 %>
  <div class="h-[50vh] md:h-auto border border-gray-300 border-dashed shadow overflow-auto">
    <div class="papper py-4 md:p-6 relative flex justify-center">
      <div class="papper__mask absolute inset-0 z-0"></div>
      <%= turbo_frame_tag @copy, loading: "lazy", data: { turbo_action: "advance" } do %>
        <div class="grid grid-cols-12">
          <% @copy.characters.each do |pinyin, character| %>
            <div class="flex flex-col w-15">
              <%= chinese_pinyin(pinyin) %>
              <% if @copy.hidden_character %>
                <%= chinese_character %>
              <% else %>
                <%= chinese_character(character) %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex-1 flex flex-col border border-gray-300 shadow p-4">
    <%= form_with model: @copy, url: new_copy_path, method: :get, class: "w-full", data: { turbo_frame: dom_id(@copy) } do |f| %>
      <%= f.textarea :chinese, class: "textarea w-full", rows: 10, autofocus: true, placeholder: "请输入字体" %>
      <div class="mt-4 flex items-center justify-between">
        <%= f.label :hidden_character, "隐藏文字" %>
        <%= f.check_box :hidden_character, class: "toggle" %>
      </div>
      <button class="btn btn-neutral mt-4">
        生成字贴
      </button>
    <% end %>
  </div>
</div>

<style>
.papper {
  width: 210mm;
  height: 297mm;
}
.papper__mask {
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(-45deg,var(--color-base-100),var(--color-base-100)13px,var(--color-base-300)13px,var(--color-base-300)14px);
}
</style>
